.panel {
  display: flex;
  flex-direction: row;
  height: 240px;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  flex-wrap: wrap;
  outline: 1px solid #e0e0e0;
}

.panel-container {
  display: flex;
  flex-direction: row;
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}
.circle-fill {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #009688;
  border: 1px solid #e0e0e0;
}
